html {
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
    background-color: #303030;
}

h3 {
    font-size: 200%;
}
a:link {
    color: #f0f0f0;
}
a:visited{
    color: #f0f0f0;
}
a:hover{
    font-weight: bold;
}

table #turktable {
    padding: 0px;
    border-collapse: collapse;
    
}

img {
    border: 3px solid black;
}
